on:
  push:
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - run: ls -la
      - run: docker build -t microhackacr.azurecr.io/flightbookerfrontend:latest -f ${{ github.workspace }}/Flightbooker/flightbooker-frontend/Dockerfile ${{ github.workspace }}/Flightbooker/flightbooker-frontend/
      - run: docker push microhackacr.azurecr.io/flightbookerfrontend:latest
  #build-backend:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - run: docker build -t microhackacr.azurecr.io/flightbookerbackend:latest -f ${{ github.workspace }}/Flightbooker/flightbooker-backend/Dockerfile ${{ github.workspace }}/Flightbooker/flightbooker-backend/
  #    - run: docker push microhackacr.azurecr.io/flightbookerbackend:latest